html, body {
        position: relative;
        height: 100%;
      }

      body {
        background: black;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        color: white;
      }

      .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 500px;
        height: 350px;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }